{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Anmelden</h1>
    <p>Bitte mit Benutzername und Passwort anmelden.</p>

    <form method="post">
        {{ form.csrf_token }}

        <label for="username">Benutzername</label>
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
        <br>
        <label for="password">Passwort</label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
        <br>
        {{ form.submit }}
    </form>
    <br>
    <a href="{{ url_for('register') }}">Neu Registrieren</a>
</div>
{% endblock %}